RAG Knowledge Agent v1/Workflow.json
{
  "name": "RAG Agent Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1r6gnOj2YRMphjG3sDOtW8XdMJArfjHh3",
          "mode": "list",
          "cachedResultName": "Apple Info",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1r6gnOj2YRMphjG3sDOtW8XdMJArfjHh3"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        -320
      ],
      "id": "95d96fb6-66a9-4f8e-98b5-63387d106809",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0kFftAJMIX6dbQe5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -848,
        -320
      ],
      "id": "2eee66e8-7e95-4a61-bb6a-3716e31cae2a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0kFftAJMIX6dbQe5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-chatbot",
          "mode": "list",
          "cachedResultName": "rag-chatbot"
        },
        "embeddingBatchSize": 1,
        "options": {
          "pineconeNamespace": "apple-info"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -656,
        -320
      ],
      "id": "561db9cd-3b1f-4830-949e-30c86d4550e9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "wXxyiGGuBCjsz3Q2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "apple-filename",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -576,
        -128
      ],
      "id": "5a0d887b-7a34-465a-81d9-71277b470bc4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "embed-english-light-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -768,
        -128
      ],
      "id": "0b7d5249-5d32-44ee-92e2-593826336757",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "535B4lmjb9HmYwnP",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG Chatbot\n### Read from Vector Database and Generate Accurate Answers to User Queries",
        "height": 848,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -464
      ],
      "id": "c1e47a56-1a7d-47f8-b8d1-f66189d424fa",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an AI assistant specialized in analyzing Apple’s quarterly financial reports. Your main goal is to answer questions accurately and precisely using the vector database, which contains relevant Q1 reports.\n\nProvide only information that comes directly from these reports or verified data. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific numbers and facts whenever possible, and clearly indicate whether the information is sourced from Q1.\n\nDeliver quick, reliable insights into Apple’s quarterly financials without adding unnecessary details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        -288
      ],
      "id": "d72e993a-2833-4424-a245-303748d7d684",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -192,
        -336
      ],
      "id": "aad930bb-4965-417c-8c78-2e3f601855e2",
      "name": "When chat message received",
      "webhookId": "af1611cf-aeab-4b41-b57e-12b4a84e2b37"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        -80
      ],
      "id": "fd0bd8e6-2c7a-4fbb-8546-f4e06ebc8ce8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Returns documents related to Apple Q1 report, including financials, outlook, margins, and all key details from the earnings reports.",
        "topK": 20
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        192,
        -128
      ],
      "id": "a2f2dbbd-1f7f-4f4c-be97-47288a224764",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-chatbot",
          "mode": "list",
          "cachedResultName": "rag-chatbot"
        },
        "options": {
          "pineconeNamespace": "apple-info"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        48,
        64
      ],
      "id": "75b983e2-0484-4da5-9fc3-38c7645de32c",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "wXxyiGGuBCjsz3Q2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-light-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "027b26a5-88e6-40b1-ae75-373f177687c7",
      "name": "Embeddings Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "535B4lmjb9HmYwnP",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Knowledge Base\n### Insert Documents from Google Drive into Vector Database",
        "height": 688,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        -464
      ],
      "id": "515e1b5d-8de6-4708-bb14-23f38c22207c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        -80
      ],
      "id": "4a8cfc4c-fdf9-4bc8-a0aa-47aa60d199b9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BYCMZPZsRLTI8niq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        64
      ],
      "id": "0ff4cdec-e55e-4275-b2e8-aa2e173b9dc5",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "BYCMZPZsRLTI8niq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b5bf6de-b556-4b42-983d-8f2a70af39bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acdad6c320738f64b9d1d74ff0869c01e0d44034958fc7552e0eb483d17e4784"
  },
  "id": "RKwI4yEGw1jbTjO4",
  "tags": []
}